@use 'palette';
@use 'margins';

.categoryList {
    @include margins.mainBody();
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cardContents {
    width: 100%;
    padding-left: 25px;
}

.categoryCard {
    margin-top: 25px;
    display: flex;
}

.cardTitleBox {
    color: palette.$blue;
}

$category-border: 5px solid palette.$blue;

// Responsive layout

$desktop: 1000px;

@media (max-width: $desktop) {
    .categoryCard {
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    .cardTitleBox {
        text-align: left;
        padding-left: 35px;

        width: 100%;

        border-bottom: $category-border;
        border-right: none;
    }

}

@media (min-width: $desktop) {
    .categoryCard {
        flex-direction: row;
        width: 100%;
    }

    .cardTitleBox {
        text-align: right;

        width: 25%;
        padding-right: 20px;

        border-right: $category-border;
        border-bottom: none;
    }

}
