@use 'palette';

.dropdownContainer {
    position: relative;
}

.dropButton {
    color: palette.$dark-grey;
    background-color: palette.$blue;
    border-radius: 35% 35% 35% 35% / 50% 50% 50% 50%;
    font-size: 24px;

    margin: 5px;
    height: 2em;
    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 60px;
    bottom: 10px;

    width: 300px;
    border: 3px solid palette.$dark-grey;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.dropdownItem {
    padding: 10px;
}
