@use 'palette';
@use 'margins';

header {
    width: 100%;
}

// Primarily used to provide full-width backgrounds

.headerTopBar {
    height: 75px;
    width: 100%;
    margin-bottom: 5px;
    background-color: palette.$blue;
}

.headerBottomBar {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    background-color: palette.$dark-grey;
}

// Divs holding proper content, to provide margins

.nameBox {
    @include margins.mainBody();
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.titleBox {
    @include margins.mainBody();
}

