@use 'palette';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,350;0,400;0,500;0,550;0,600;0,700;1,300;1,350;1,400;1,500;1,550;1,600;1,700&display=swap');

$main: Montserrat, sans-serig;

h1 {
    color: palette.$dark-grey;
    margin: 0px;

    text-align: right;
}

h2 {
    color: palette.$off-white;
    margin: 0px;

    text-align: right;
}

h3 {
    // Preserved the default style
}

h4, h5 {
    margin: 10px 0px 5px 0px;
    color: palette.$dark-grey;
}

p {
    color: palette.$dark-grey;
    text-align: justify;
    line-height: 1.3em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: palette.$dark-grey;

    &:hover {
        color: palette.$blue;
    }
}

.rowTextArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
