@use 'palette';
@use 'text';

@use 'header';
@use 'categories';
@use 'navigators';
@use 'dropdown';

body {
    font-family: text.$main;

    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100;
}

.afterPad {
    height: 50px;
}
