@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,350;0,400;0,500;0,550;0,600;0,700;1,300;1,350;1,400;1,500;1,550;1,600;1,700&display=swap");
h1 {
  color: #2f2f2f;
  margin: 0px;
  text-align: right;
}

h2 {
  color: #f5f5f5;
  margin: 0px;
  text-align: right;
}

h4, h5 {
  margin: 10px 0px 5px 0px;
  color: #2f2f2f;
}

p {
  color: #2f2f2f;
  text-align: justify;
  line-height: 1.3em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #2f2f2f;
}
a:hover {
  color: #3770aa;
}

.rowTextArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

header {
  width: 100%;
}

.headerTopBar {
  height: 75px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #3770aa;
}

.headerBottomBar {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  background-color: #2f2f2f;
}

.nameBox {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.titleBox {
  max-width: 800px;
  margin: auto;
}

.categoryList {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cardContents {
  width: 100%;
  padding-left: 25px;
}

.categoryCard {
  margin-top: 25px;
  display: flex;
}

.cardTitleBox {
  color: #3770aa;
}

@media (max-width: 1000px) {
  .categoryCard {
    flex-direction: column;
    align-self: center;
    width: 80%;
  }

  .cardTitleBox {
    text-align: left;
    padding-left: 35px;
    width: 100%;
    border-bottom: 5px solid #3770aa;
    border-right: none;
  }
}
@media (min-width: 1000px) {
  .categoryCard {
    flex-direction: row;
    width: 100%;
  }

  .cardTitleBox {
    text-align: right;
    width: 25%;
    padding-right: 20px;
    border-right: 5px solid #3770aa;
    border-bottom: none;
  }
}
navbar {
  position: fixed;
  bottom: 15%;
  right: 5%;
  display: flex;
  flex-direction: column;
}

.dropdownContainer {
  position: relative;
}

.dropButton {
  color: #2f2f2f;
  background-color: #3770aa;
  border-radius: 35% 35% 35% 35%/50% 50% 50% 50%;
  font-size: 24px;
  margin: 5px;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 60px;
  bottom: 10px;
  width: 300px;
  border: 3px solid #2f2f2f;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  padding: 10px;
}

body {
  font-family: Montserrat, sans-serig;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100;
}

.afterPad {
  height: 50px;
}

/*# sourceMappingURL=styles.css.map */
